#root {
  min-height: 100vh;
}

body {
  font-family: sans-serif;
}

h1 {
  margin-bottom: 1rem;
}

h2,
h3,
p {
  margin-bottom: 0.5rem;
}

/* UTILITIES */

.pad-sm {
  padding: 0.5rem;
}

.pad-md {
  padding: 1rem;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* CSS GRID LAYOUTS */

.two-column-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr;
}

.two-column-grid__auto {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.grid-auto__column {
  display: grid;
  grid-auto-flow: column;
}

.justify-content\:start {
  justify-content: start;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

/* LISTS */

.nav-list,
.data-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.data-list.with-borders {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.data-list li {
  padding: 0.5rem 0;
}

.data-list.with-item-borders li + li {
  border-top: 1px solid #000;
}

/* FORMS */

textarea {
  resize: none;
}

.form-stack label,
.form-stack input,
.form-stack textarea {
  width: 100%;

  display: block;

  margin-bottom: 0.5rem;
}

.form-stack label {
  font-weight: bold;
}

.form-stack h1,
.form-stack h2,
.form-stack > div.section {
  margin-bottom: 0.5rem;
}

.form-stack .button + .button {
  margin-left: 0.5rem;
}

/* BUTTONS AND LINKS */

a.button {
  text-decoration: none;
}

/* Button Reset */
button {
  padding: 0;

  border: none;
  background-color: transparent;

  font-family: inherit;

  cursor: pointer;
}

button.button,
a.button {
  padding: 0.5rem 0.75rem;
  min-width: 12ch;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.25rem;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.75;
  font-size: 0.875rem;
  font-weight: 500;

  transition: 250ms;
}

button.button.contained,
a.button.contained {
  border: 1px solid var(--color-400);
  background-color: var(--color-400);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 5px rgba(0, 0, 0, 0.12);

  color: var(--color-100);
}

button.button.contained:hover,
a.button.contained:hover {
  border: 1px solid var(--color-500);
  background-color: var(--color-500);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
}

button.button.outlined,
a.button.outlined {
  border: 1px solid var(--color-400);
  background-color: var(--color-100);

  color: var(--color-400);
}

button.button.outlined:hover,
a.button.outlined:hover {
  border: 1px solid var(--color-500);
  background-color: var(--color-200);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04), 0 2px 5px rgba(0, 0, 0, 0.12);
}

button.button.blue,
a.button.blue {
  --color-500: #1565c0;
  --color-400: #1976d2;
  --color-200: #e3f2fd;
  --color-100: #ffffff;
}

button.button.red,
a.button.red {
  --color-500: #c62828;
  --color-400: #d32f2f;
  --color-200: #ffebee;
  --color-100: #ffffff;
}
